@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 text-gray-900 antialiased;
  }
  
  * {
    @apply focus:outline-none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

